<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <main>
        <div>
            <h1>Create a new list</h1>
            <form method="post">
                {% csrf_token %}
                <label for="">Name: </label>
                <input type="text" name = "name" maxlength = 20 placeholder = "Input new list">
                {{ list_form.as_p }}
                <button type="submit">Create</button>
            </form>
        </div>
    </main>
</body>
</html>
