<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <main>
        <div>
            <h1>Update list</h1>
            <form method="POST">
                {% csrf_token %}
                 <label for="">Name: </label>
                <input type="text" name = "name" maxlength = 20 placeholder = "Reminders">
                {{list_form.as_p}}
                <button type="submit">Update</button>
            </form>
        </div>
    </main>
</body>
</html>
